In [2]:
:dep polars = "0.19.1"

In [3]:
use polars::prelude::*;
use std::fs::File;

## CSV読み込み

In [4]:
let df = CsvReader::from_path("train.csv")?
            .infer_schema(None)
            .has_header(true)
            .finish()?;

In [5]:
println!("{:?}", df);

shape: (891, 12)
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| PassengerId | Survived | Pclass | Name                                | ... | Ticket           | Fare    | Cabin | Embarked |
| ---         | ---      | ---    | ---                                 |     | ---              | ---     | ---   | ---      |
| i64         | i64      | i64    | str                                 |     | str              | f64     | str   | str      |
+=============+==========+========+=====================================+=====+==================+=========+=======+==========+
| 1           | 0        | 3      | Braund, Mr. Owen Harris             | ... | A/5 21171        | 7.25    |       | S        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 2           | 1        | 1      | Cumings, Mrs. John Bradley (Flor... | ... | PC 17599         | 71.2833 | C85   | C        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 3           | 1        | 3      | Heikkinen, Miss. Laina              | ... | STON/O2. 3101282 | 7.925   |       | S        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 4           | 1        | 1      | Futrelle, Mrs. Jacques Heath (Li... | ... | 113803           | 53.1    | C123  | S        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| ...         | ...      | ...    | ...                                 | ... | ...              | ...     | ...   | ...      |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 888         | 1        | 1      | Graham, Miss. Margaret Edith        | ... | 112053           | 30.0    | B42   | S        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 889         | 0        | 3      | Johnston, Miss. Catherine Helen ... | ... | W./C. 6607       | 23.45   |       | S        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 890         | 1        | 1      | Behr, Mr. Karl Howell               | ... | 111369           | 30.0    | C148  | C        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+
| 891         | 0        | 3      | Dooley, Mr. Patrick                 | ... | 370376           | 7.75    |       | Q        |
+-------------+----------+--------+-------------------------------------+-----+------------------+---------+-------+----------+

In [6]:
df.width()

12

In [7]:
df.height()

891

In [8]:
df.shape()

(891, 12)

In [9]:
df.fields()

[Field { name: "PassengerId", data_type: Int64 }, Field { name: "Survived", data_type: Int64 }, Field { name: "Pclass", data_type: Int64 }, Field { name: "Name", data_type: Utf8 }, Field { name: "Sex", data_type: Utf8 }, Field { name: "Age", data_type: Float64 }, Field { name: "SibSp", data_type: Int64 }, Field { name: "Parch", data_type: Int64 }, Field { name: "Ticket", data_type: Utf8 }, Field { name: "Fare", data_type: Float64 }, Field { name: "Cabin", data_type: Utf8 }, Field { name: "Embarked", data_type: Utf8 }]

In [10]:
df.get(0)

Some([Int64(1), Int64(0), Int64(3), Utf8("Braund, Mr. Owen Harris"), Utf8("male"), Float64(22.0), Int64(1), Int64(0), Utf8("A/5 21171"), Float64(7.25), Utf8(""), Utf8("S")])

In [11]:
df.get_columns()

[shape: (891,)
Series: 'PassengerId' [i64]
[
	1
	2
	3
	4
	5
	6
	7
	8
	9
	10
	11
	12
	...
	880
	881
	882
	883
	884
	885
	886
	887
	888
	889
	890
	891
], shape: (891,)
Series: 'Survived' [i64]
[
	0
	1
	1
	1
	0
	0
	0
	0
	1
	1
	1
	1
	...
	1
	1
	0
	0
	0
	0
	0
	0
	1
	0
	1
	0
], shape: (891,)
Series: 'Pclass' [i64]
[
	3
	1
	3
	1
	3
	3
	1
	3
	3
	2
	3
	1
	...
	1
	2
	3
	3
	2
	3
	3
	2
	1
	3
	1
	3
], shape: (891,)
Series: 'Name' [str]
[
	"Braund, Mr. Ow...
	"Cumings, Mrs. ...
	"Heikkinen, Mis...
	"Futrelle, Mrs....
	"Allen, Mr. Wil...
	"Moran, Mr. Jam...
	"McCarthy, Mr. ...
	"Palsson, Maste...
	"Johnson, Mrs. ...
	"Nasser, Mrs. N...
	"Sandstrom, Mis...
	"Bonnell, Miss....
	...
	"Potter, Mrs. T...
	"Shelley, Mrs. ...
	"Markun, Mr. Jo...
	"Dahlberg, Miss...
	"Banfield, Mr. ...
	"Sutehall, Mr. ...
	"Rice, Mrs. Wil...
	"Montvila, Rev....
	"Graham, Miss. ...
	"Johnston, Miss...
	"Behr, Mr. Karl...
	"Dooley, Mr. Pa...
], shape: (891,)
Series: 'Sex' [str]
[
	"male"
	"female"
	"female"
	"female"
	"male"
	"male"
	"male"
	"male"
	"female"
	"female"
	"female"
	"female"
	...
	"female"
	"female"
	"male"
	"female"
	"male"
	"male"
	"female"
	"male"
	"female"
	"female"
	"male"
	"male"
], shape: (891,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
	35.0
	35.0
	null
	54.0
	2.0
	27.0
	14.0
	4.0
	58.0
	...
	56.0
	25.0
	33.0
	22.0
	28.0
	25.0
	39.0
	27.0
	19.0
	null
	26.0
	32.0
], shape: (891,)
Series: 'SibSp' [i64]
[
	1
	1
	0
	1
	0
	0
	0
	3
	0
	1
	1
	0
	...
	0
	0
	0
	0
	0
	0
	0
	0
	0
	1
	0
	0
], shape: (891,)
Series: 'Parch' [i64]
[
	0
	0
	0
	0
	0
	0
	0
	1
	2
	0
	1
	0
	...
	1
	1
	0
	0
	0
	0
	5
	0
	0
	2
	0
	0
], shape: (891,)
Series: 'Ticket' [str]
[
	"A/5 21171"
	"PC 17599"
	"STON/O2. 31012...
	"113803"
	"373450"
	"330877"
	"17463"
	"349909"
	"347742"
	"237736"
	"PP 9549"
	"113783"
	...
	"11767"
	"230433"
	"349257"
	"7552"
	"C.A./SOTON 340...
	"SOTON/OQ 39207...
	"382652"
	"211536"
	"112053"
	"W./C. 6607"
	"111369"
	"370376"
], shape: (891,)
Series: 'Fare' [f64]
[
	7.25
	71.2833
	7.925
	53.1
	8.05
	8.4583
	51.8625
	21.075
	11.1333
	30.0708
	16.7
	26.55
	...
	83.1583
	26.0
	7.8958
	10.5167
	10.5
	7.05
	29.125
	13.0
	30.0
	23.45
	30.0
	7.75
], shape: (891,)
Series: 'Cabin' [str]
[
	""
	"C85"
	""
	"C123"
	""
	""
	"E46"
	""
	""
	""
	"G6"
	"C103"
	...
	"C50"
	""
	""
	""
	""
	""
	""
	""
	"B42"
	""
	"C148"
	""
], shape: (891,)
Series: 'Embarked' [str]
[
	"S"
	"C"
	"S"
	"S"
	"S"
	"Q"
	"S"
	"S"
	"S"
	"C"
	"S"
	"S"
	...
	"C"
	"S"
	"S"
	"S"
	"S"
	"S"
	"Q"
	"S"
	"S"
	"S"
	"C"
	"Q"
]]

In [12]:
df["PassengerId"]

shape: (891,)
Series: 'PassengerId' [i64]
[
	1
	2
	3
	4
	5
	6
	7
	8
	9
	10
	11
	12
	...
	880
	881
	882
	883
	884
	885
	886
	887
	888
	889
	890
	891
]

## CSV書き出し

In [13]:
let mut file = File::create("output.csv").expect("could not create file");

CsvWriter::new(&mut file)
    .has_header(true)
    .with_delimiter(b',')
    .finish(&df);